<div style="background-color: yellow">
	<%= image_tag @post.image.url(:medium)%>
	<p>
	  <strong>Status:</strong>
	  <%= @post.status %>
	</p>
	<p>
	  <strong>Request date:</strong>
	  <%= @post.requestdate %>
	</p>
	<p>
	  <strong>Post Place:</strong>
	  <%= @post.place %>
	</p>
	<p>
	  <strong>City:</strong>
	  <%= @post.city %>
	</p>
	<p>
	  <strong>name:</strong>
	  <%= @post.name %>
	</p>
	<p>
	  <strong>Father Name:</strong>
	  <%= @post.fathername %>
	</p>
	<p>
	  <strong>Age:</strong>
	  <%= @post.age %>
	</p>
	<p>
	  <strong>Mental Status:</strong>
	  <%= @post.mentalstatus %>
	</p>
	<p>
	  <strong>Clothes:</strong>
	  <%= @post.clothes %>
	</p>
		<p>
	  <strong>Clothes Color:</strong>
	  <%= @post.clothescolor %>
	</p>
		<p>
	  <strong>Description:</strong>
	  <%= @post.description %>
	</p>
	<p>
	  <strong>Relation:</strong>
	  <%= @post.relation %>
	</p>
	<p>
	  <strong>Gender:</strong>
	  <%= @post.gender %>
	</p>
</div>