<!DOCTYPE html>
<html>
  <head>
    <title>Insaniyat</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "rails.validations","rails.validations.simple_form",'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/png" href="assets/a1.png">
  </head>
  <body>

<% if controller_name == "admin"%>
	<%= yield %>
<% else %>
<!-- ************************************ NavBar ************************************ -->
		<div id="navbar">
			<div class="navbar navbar-fixed-top navbar-inverse" style="background-color: rgba(0,0,0,0.7);">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="Index.html" class="brand">
							<%= link_to root_path do %>
		   					<%= image_tag 'web_logo.png', class:"img-fluid", id:"img_logo", alt:"Responsive Image" %>
							<% end %>
						</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav" id="navbar_font_handle" style="font-weight: bold; font-size: 1.2em;">
							<li>
								<%= link_to "Home", root_url %>
							</li>
							<li>
								<%= link_to "Lost/Found Someone?" ,nil, {'data-toggle' => 'modal' , 'data-target' => '#modal-fullscreen' , :onClick => 'scrollopen()' , :remote => true} %>
							</li>
							<li>
								<a href="#search">Search</a>
							</li>
							<li>
								<%= link_to "About", about_posts_path %>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" id="navbar_font_handle">
							<% if session[:u] == nil %>
								<li>
									<a href="#" data-toggle="modal" data-target="#logIn"><span class="glyphicon glyphicon-log-in"></span> <strong>Login</strong></a>
								</li>
								<li>
									<a href="#" id="signupM" data-toggle="modal" data-target="#signUp"><span class="glyphicon glyphicon-user"></span><strong>SignUp</strong></a>
								</li>	
							<% else%>
								<% us = User.new(session[:u])%>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong><%= us.name%></strong> <b class="caret"></b></a>
		          			<ul class="dropdown-menu">
		            			<li><%= link_to "Profile", profile_posts_path(:id => us.id) %></li>
		            			
		            			<li class="divider"></li>
		            			<li><%= link_to "Logout","/users/logout"%></li>
		          			</ul>
		        		</li>
							<% end%>
						</ul>
					</div>
				</div>
			</div>
		</div>
			<!-- ************************* LogIn Window Code **************************** -->
			<div class="container">
				<div class="modal fade" id="logIn">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Header -->
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">Log In</h3>
							</div>
							<!-- Body (form) -->
							<div class="modal-body">
								<div class="form-group">
									<%= number_field_tag :phoneno, nil, {class:"form-control",placeholder:"Enter Phone Number", id:"loginphoneno",required:true}%>
								</div>
								<div class="form-group" style="display: none;" id="phonein">
									<label class="label label-danger">Incorrect Phone Number</label>
								</div>
								<div class="form-group" style="display: none;" id="phoner">
									<label class="label label-danger">Phone Number Required</label>
								</div>
								<div class="form-group">
									<%= password_field_tag :password, nil, {class:"form-control", placeholder:"Password", id: 'loginpassword',:required => true}%>
								</div>
								<div class="form-group" style="display: none;" id="passr">
									<label class="label label-danger">Password Required</label>
								</div>
								<div class="form-group" style="display: none;" id="invalidlogin">
									<label class="label label-danger" style="padding: 6px; font-size: 0.9em;">Login Failed!!! Incorrect Username or Password</label>
								</div>
							</div>
							<!-- Submit Button (footer)-->
							<div class="modal-footer">
								<%= submit_tag 'Login' ,class:'btn btn-primary', id: 'loginclick'%>
							</div>
						</div>
					</div>
				</div>
				<!-- ***************************** Log In Window code End ******************************* -->
				<!-- ***************************** Sign Up Window Code ***********************************-->
				<div class="modal fade" id="signUp">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Header -->
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">Sign Up</h3>
							</div>
							<%= form_for User.new ,method: :post , :validate => true do |u|%>
							<!-- Body (form) -->
							<div class="modal-body">
								<div class="form-group">
									<%= u.text_field :name, {class:"form-control", placeholder:"Name",id:'signupname', :required => true}%>
								</div>
								<div class="form-group">
									<%= u.number_field :phoneno, {class:"form-control", placeholder:"Phone Number",id:'signupphoneno',:required => true}%>
								</div>
								<div class="form-group" style="display: none;" id="signphonein">
									<label class="label label-danger">Incorrect Phone Number</label>
								</div>
								<div class="form-group" style="display: none;" id="signphone">
									<label class="label label-danger">Phone Number is already register</label>
								</div>

								<div class="form-group">
									<div id="verify-pin" style="display: none;">
										<label class="label label-success" style="font-size:1em;margin-bottom:0.5em;margin-top:0.5em;">Sending a Verification Code at Your Number</label>
									  <div class="form-group">
									    <%= number_field_tag :pin ,nil , {id: "pinfield",class:"form-control", placeholder:"Enter You Pin"} %>
									  </div>
									  <BUTTON class="btn btn-primary" id="verifynumber">Verify PIN</BUTTON>
									</div>
								</div>

								<div class="form-group">

									<%= u.password_field :password, {class:"form-control", placeholder:"Password",id:'signuppassword',required:true}%>
								</div>
								<div class="form-group" style="display: none;" id="signpass">
									<label class="label label-danger">Password is Required</label>
								</div>
							</div>
							<!-- Submit Button (footer)-->
							<div class="modal-footer">
								<%= u.submit  class:'btn btn-primary' , id:'signupclick'%>
							</div>
							<% end%>
						</div>
					</div>
				</div>
				<!-- *********************** End of SignUp Winndow ******************************** -->
				<%= render 'layouts/postmodal' %>



    <!-- Main Body Code-->
    <div class="row bodypanel" style="padding-top: 8%" id="head">
		<div class="col-md-8">
    		<%= yield %>
    	</div>
 <!-- ********************************* Start of Search Side Bar ******************************* 
		<div class="col-sm-4" id="searchDiv">
			<div class="panel panel-default search" style="height:83%;position: fixed; overflow-y: scroll;">
				<div class="panel-heading">Search Persons</div>
				<div class="panel-body">
					<%= form_for :post do |f|%>
					<div class="form-group">
						<p>To optimize your search rresults,provide picture of </p>
						<p>person with a clear face to do search by picture.</p>
						<div class="row">
							<div class="col-md-1">
								<div id="image-holder"></div>
							</div>		
						</div>
						<input id="fileUpload" type="file" class="btn-success"/> 
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Enter Date and Time You want to search from:</label>
							<input type="datetime-local" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:name, "Name:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= f.text_field  :name,class:"form-control Name" , placeholder:'Name (Optional)'%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:fathername, "Father Name:") %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= f.text_field :fathername, class:"form-control FatherName" , placeholder:"Father Name (Optional)"%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:age, "Age:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "age", options_for_select([ "1-5", "6-8", "9-12" , "13-15", "16-18", "19-22", "23-25", "25-35", "35-50", "Greater than 50 years" ], "Optional") , {class:"form-control" , prompt:"Optional"}%> 		
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:personcolor , "Face Color:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "facecolor", options_for_select([ "White" , "Black" , "Brown" , "Light Brown" , "Dark Brown" ]) , {class:"form-control" , prompt:"Optional"}%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:gender , "Gender")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "gender", options_for_select([ "Male" , "Female" ], "N/A") , {class:"form-control" , prompt:"Optional"}%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:specialPerson , "Special Person:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "gender", options_for_select([ "Yes" , "No" ]) , {class:"form-control" , prompt:"....."}%>
						</div>
					</div><br>
					<div class="row">
					<center>
						<div class="col-sm-12">
							<span class="icon-input-btn btn-success"><span class="glyphicon glyphicon-search"></span> 
							<%= f.submit :post , class:"btn btn-success"%></span>
						</div>
						</center>
					</div>
					<% end %>
				</div>
			</div>
		</div>
<! ************************************ End of Search Side Bar *********************************** -->

<!-- ********************************* Start of Search Side Bar ******************************* -->
 <!-- ************************************* Search Side Bar ************************************** -->
<script>
$(document).ready(function() 
{
	$("#fileUpload").on('change', function() 
	{
		//Get count of selected files
		var countFiles = $(this)[0].files.length;
		var imgPath = $(this)[0].value;
		var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
		var image_holder = $("#image-holder");
		image_holder.empty();
		if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
			if (typeof(FileReader) != "undefined") {
				//loop for each file selected for uploaded.
				for (var i = 0; i < countFiles; i++) 
				{
					var reader = new FileReader();
					reader.onload = function(e) {
					$("#posting").attr('src' , e.target.result);
					$("#posting").css('width' , '25em');
				}
				//image_holder.show();
				//reader.readAsDataURL($(this)[0].files[i]);
				}
			} else {
				alert("This browser does not support FileReader.");
			}
		}else {
			alert("Pls select only images");
		}
	});
});
</script>
<!-- *************************************** Search Side Bar *****************************************-->
		<div class="col-sm-4" id="searchDiv">
			<div class="panel panel-default search" style="height:83%;position: fixed; overflow-y: scroll;">
				<div class="panel-heading">Search Persons</div>
				<div class="panel-body">
					<%= form_for :post, :url => search_posts_path(@post), method: :get , :html => {:id => "searchform"} do |f|%>

					<div class="form-group">
						<p>To optimize your search rresults,provide picture of </p>
						<p>person with a clear face to do search by picture.</p>
						<center>
							<div class="row">
								<div class="col-md-12">
									<div id="image-holder">
										<img src="/images/Unknown_Person.png" id="posting" class="img-thumbnail" style="width:18em;height:8em;" />
									</div>
								</div>		
							</div>
							<br>
							<input id="fileUpload" type="file" class="btn-success"/> 
						</center>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="dateerror"></div>
							<label>Enter Date and Time You want to search from:</label>
							<%= f.date_select :requestdate, {prompt: true}, {class:"datesearch required form-control"} %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:status, "Status:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "status", options_for_select([ "I Lost" , "I Found" ]) , {class:"form-control status" , prompt:"Status"}%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:name, "Name:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= f.text_field  :name,class:"form-control Name" , placeholder:'Name (Optional)'%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:fathername, "Father Name:") %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= f.text_field :fathername, class:"form-control FatherName" , placeholder:"Father Name (Optional)"%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:age, "Age:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "age", options_for_select([ "1-5", "6-10", "11-15" , "16-20", "21-25", "26-30", "31-35", "36-40", "41-45","46-50", "Greater than 50 years" ], "Optional") , {class:"form-control age" , prompt:"Optional"}%> 		
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:gender , "Gender")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "gender", options_for_select([ "Male" , "Female" ]) , {class:"form-control gender" , prompt:"Optional"}%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= label_tag(:mentalstatus , "Person Condition:")%>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= select_tag "mentalstatus", options_for_select([ "Normal Person" , "Special Person" ]) , {class:"form-control mentalstatus" , prompt:"....."}%>
						</div>
					</div><br>
					<div class="row">

					<center>
						<div class="error"></div>
						<div class="col-sm-12">
							<span class="icon-input-btn btn-success"><span class="glyphicon glyphicon-search"></span> 
							<%= f.submit 'Search' ,class:"btn btn-success from-searchbtn" , :onclick => "checkdate();"%></span>
						</div>
						</center>
					</div>
					<% end %>
				</div>
			</div>
		</div>
<!-- ************************************ End of Search Side Bar *********************************** -->
    </div>
    <%end%>
  </body>
</html>
